:root {
    --primary-color-hue: 211;
    --primary-color-saturation: 100%;
    --primary-color-brightness: 50%;
    --primary-color: hsla(var(--primary-color-hue), var(--primary-color-saturation), var(--primary-color-brightness), 1);
    --secondary-color: #6c757d;
    --success-color: #28a745;
    --info-color: #17a2b8;
    --warning-color: #ffc107;
    --danger-color: #dc3545;
    --light-color: #f8f9fa;
    --dark-color: #343a40;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
}

.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Common utility classes */
.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.w-100 {
    width: 100%;
}

.page-wrapper {
    min-height: 100vh;
}